@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Centric Consulting is a business that provides technology solutions to companies. If you're an employee, sign in.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Learning about the company</h2>
        <p>
           Centric Consulting's website is a great tool to learn more about the company.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/">Learn more here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Centric DevOps</h2>
        <p>Centric has many technology offerings and expertises- one of which are the DevOps practices.</p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/technology-solutions/modern-software-delivery/devops/">Learn more about DevOps here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Centric would love to hear your input or potential interest in a project. Contact us today!</p>
        <p><a class="btn btn-default" href=https://centricconsulting.com/contact/> Contact us here! &raquo;</a></p>
    </div>
</div>